---
import "../styles/main.scss";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Row from "../components/Row.astro";
import PortfolioContainer from "../components/PortfolioContainer.astro";
import ContactForm from "../components/ContactForm.astro";
import PageHeader from "../components/PageHeader.astro";
import { Image } from '@astrojs/image/components';
import TabGroup from "../components/tabs/TabGroup.astro";
import Tab from "../components/tabs/Tab.astro";
---

<Layout title="Astra Web Development">
	<PageHeader />
	<section id="smallTagline">
		<p>
			Astra is a web development company that designs & builds websites
			for small businesses - with benefits that you won't find in other
			webdev businesses.
		</p>
	</section>
	<Section heading="You might be wondering... why a website?" subheading="">
		<TabGroup>
			<Tab heading="Restaurant">Hello World!</Tab>
			<Tab heading="Store">Hello 2!</Tab>
		</TabGroup>
		<p>Because people need to know your hours, menu, and location!</p>
		<Image src="restaurant_screenshot.png" width={300} height={300} />
		<h2>People <em>hate</em> awful restuarant websites...</h2>
		<h2>They <em>hate</em> GrubHubs, Facebook Pages, and menus that don't make sense...</h2>
		<h2>They <em>hate</em> needlessly complicated and bloated websites...</h2>
		<h1>So why not get a good website that loads fast, from us?</h1>

	</Section>
	<Section heading="Why Us?" subheading="" id="whyUs">
		<div class="rowContainer">
			<Row
				heading="Others' websites are slow. Our websites are blazing-fast."
			>
					<p>
						Many of our competitors use tools like WordPress, which
						allow them to create a website quickly and easily, but
						end up creating a slower site
					</p>
					<p>
						WordPress is a dynamic site generator, which means every
						time someone visits your website, it has to do a bunch
						of processing to serve the name, content, etc. With us,
						we directly code it into your website, so it loads
						lightning-fast!
					</p>
					<p>
						In effect, slower sites are heavily penalized, so they
						appear lower in Google Search and Maps. 3% of customers
						leave a website every second it takes to load.
					</p>
			</Row>
			<Row heading="Our websites don't require any maintenance.">
					<p>
						With other website creators, you have to worry about
						your WordPress and plugins not getting hacked.
					</p>
					<p>
						With us, you don't need to update plugins or make sure
						the website is working.
					</p>
			</Row>
			<Row heading="We're mobile-centered by design.">
					<p>
						Every website nowadays needs to look well on phones, and
						we focus our development on building good-looking
						websites.
					</p>
			</Row>
		</div>
		<h4 class="tagline">
			We make custom static websites that perform<em> better </em>than our
			competitors and can help increase your customers.
		</h4>
	</Section>
	<Section heading="Wanna look at our portfolio?" subheading="">
		<PortfolioContainer />
	</Section>
	<Section heading="All in means all in." subheading="">
		<h1>No additional hosting costs.</h1>
		<h1>No buying domains.</h1>
		<h1>Just a bit of information, and we'll get to work.</h1>
		<!-- <span
			>And in the future, we may be able to handle marketing and other
			important operations, too!</span
		> -->
	</Section>
	<Section heading="Pricing" subheading="Simple Pricing">
		<div class="card">
			<h5>Monthly</h5>
			<span
				>All-in. Everything you need for your business's online
				presence.</span
			>
			<span class="priceOuter"
				><span class="priceInner">$80</span>/month</span
			>
			<ul>
				<li>Basic Google Business Profile setup</li>
				<li>Included hosting & domain</li>
				<li>Unlimited Updates</li>
				<li>Analytics setup via Google or Plausible</li>
			</ul>
			<span class="bold">Note: You must pay for at least 9 months.</span>
		</div>
	</Section>
	<Section heading="about" subheading="" id="about">
		<Row heading="">
			<div>
				<h4>hi. i'm jose sanchez.</h4>
				<p>
					I'm a designer and developer of websites and software
					products. I've had a significant amount of experience in
					webdev, having an internship making webapps since my senior
					year of high school, and participating in other internships
					and computer science-related programs since. I'm currently
					studying CS in college, so know that your business will help
					a student out! :)
				</p>
				<a class="button" role="button" href="https://josesanchez.dev"
					>View Personal Portfolio/website</a
				>
			</div>
		</Row>
	</Section>
	<Section heading="ready for web development that's awesome?" subheading="" id="contact">
		<ContactForm />
		<!-- <div id="sphere"></div> -->
	</Section>
	<footer>
		Copyright &copy; Extraneous Dev. <a href="existing_customers.html"
			>Existing Customer?</a
		> | Contact at "email"
	</footer>
</Layout>
