---
export interface Props {
	heading: string;
	subheading: string | undefined;
    id: string | undefined | null;
}

const { heading, subheading, id } = Astro.props;
---
<section id={id}>
    <h3>{heading}</h3>
    <h4>{subheading}</h4>
    <slot />
</section>