---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import i18next, { t } from "i18next";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={t("site.description")} />
		<title>{title}</title>
		<script
			defer
			data-domain="astraweb.dev"
			src="https://plausible.io/js/plausible.js"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<h1>astraWeb.dev<span class="page-title">elopment</span></h1>
					<button id="menu-button">☰</button>
				</li>
				<li><a href="#examples">Portfolio</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="//blog.astraweb.dev">Blog</a></li>
				<li><a href="index-es.html">Ver en Español</a></li>
	
			</ul>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #000d84;
		--dark-primary-color: #000638;
		--secondary-color: #00ffa3;
		--text-color: #fff;
		--main-padding: 35px;
		--base-text-size: 18px;
		--main-font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
		--heading-font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
	}
</style>
